* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

header {
    width: 100%;
    height: 80px;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
